/*--------------------fonts--------------------*/
@font-face {
  font-family: "Altitude";
  src: url("fonts/Altitude.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald/static/Oswald-Bold.ttf") format("truetype");
}

/*--------------------base styles--------------------*/
html {
  font-family: "Roboto";
  color: white;
  letter-spacing: 2px;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*--------------------header container--------------------*/
.header-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .header-container {
    width: 90%;
  }
}

@media (min-width: 996px) {
  .header-container {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .header-container {
    width: 80%;
  }
}
@media (min-width: 576px) {
  .header-container {
    width: 95%;
  }
}

/*--------------------header content--------------------*/
header {
  background-color: #003c6c;
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
  
header a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

header .brand {
  margin-top: 10px;
  margin-right: 300px;
}
  
header .brand a {
  font-family: "Altitude";
  font-size: 38px;
}

header .nav-links a:hover {
  color: #f29813;
}
  
header .nav-links {
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0;
  margin-left: 50px;
  padding: 0;
  list-style: none;
  display: flex;
}
  
header .nav-links li {
  display: inline-block;
}

/*--------------------home page--------------------*/
.home-page {
  background-image: url("images/home-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/*--------------------welcome header and message--------------------*/
.welcome {
  width: 100%;
  background-color: rgba(0, 59, 108, 0.6);
  text-align: center;
  margin-top: 100px;
}

/*--------------------welcome header resizing--------------------*/
.welcome-header {
  font-size: 45px;
  letter-spacing: 15px;
  margin-bottom: 40px;
  padding-top: 50px;
  transition: transform 0.2s ease-out;
}

@media (max-width: 996px) {
  .welcome-header {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .welcome-header {
    font-size: 38px;
    letter-spacing: 13px;
  }
}

@media (max-width: 576px) {
  .welcome-header {
    font-size: 33px;
    letter-spacing: 10px;
  }
}

@media (max-width: 480px) {
  .welcome-header {
    font-size: 30px;
    letter-spacing: 9px;
  }
}

/*--------------------welcome header animation--------------------*/
.welcome-header:hover {
  transform: scale(1.05);
}

.welcome-header:not(:hover) {
  transform: scale(1);
}

/*--------------------welcome message resizing--------------------*/
.welcome-msg {
  font-size: 15px;
  line-height: 1.8;
  padding-left: 320px;
  padding-right: 320px;
}

@media (max-width: 996px) {
  .welcome-msg {
    padding-left: 140px;
    padding-right: 140px;
  }
}

@media (max-width: 768px) {
  .welcome-msg {
    font-size: 14px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (max-width: 576px) {
  .welcome-msg {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 480px) {
  .welcome-msg {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*--------------------num of people resizing--------------------*/
.num-of-people {
  font-family: "Oswald";
  font-size: 80px;
  color: #f29813;
  margin: 20px;
  padding: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@media (max-width: 996px) {
  .num-of-people {
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  .num-of-people {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .num-of-people {
    font-size: 50px;
    margin-top: 10px; 
  }
}

@media (max-width: 480px) {
  .num-of-people {
    font-size: 40px;
    margin-top: 10px; 
  }
}

/*--------------------num of people animation--------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*--------------------"people in the gym"--------------------*/
@media (max-width: 996px) {
  .welcome h2 { 
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .welcome h2 { 
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .welcome h2 { 
    font-size: 17px;
  }
}

/*--------------------gym status and waiting line--------------------*/
.gym-status {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gym-waiting-time {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gym-status h3, .gym-waiting-time h3 {
  font-size: 15px;
}

.status, .waiting-time {
  color: #f29813;
  padding-left: 10px;
}

/*--------------------gym schedule--------------------*/
.gym-schedule {
  background-color: rgba(242, 152, 19, 0.6);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
}

/*--------------------gym schedule header resizing-------------------- */
.gym-schedule h1 {
  font-size: 45px;
  letter-spacing: 15px;
  margin-left: 18px;
  margin-bottom: 30px;
  text-align: center;
  transition: transform 0.2s ease-out;
}

@media (max-width: 996px) {
  .gym-schedule h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .gym-schedule h1 {
    font-size: 38px;
    letter-spacing: 13px;
  }
}
@media (max-width: 576px) {
  .gym-schedule h1 {
    font-size: 33px;
    letter-spacing: 10px;
  }
}

@media (max-width: 480px) {
  .gym-schedule h1 {
    font-size: 30px;
    letter-spacing: 9px;
  }
}

/*--------------------gym schedule header animation--------------------*/
.gym-schedule h1:hover {
  transform: scale(1.05);
}

.gym-schedule h1:not(:hover) {
  transform: scale(1);
}

/*--------------------days and hours resizing--------------------*/
.schedule-container {
  display: flex;
  justify-content: center;
}

.days {
  text-align: center;
  padding-right: 20px;
  border-right: 2px solid white;
}

.hours {
  text-align: center;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .days {
    font-size: 16px;
  }

  .hours {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .days {
    font-size: 14px;
  }

  .hours {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .days {
    font-size: 12px;
  }

  .hours {
    font-size: 12px;
  }
}

.days h3, .hours h3 {
  padding: 8px;
}

/*--------------------equipment page--------------------*/
/*change background image*/
.equipment-page {
  background-image: url("images/home-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
}

.equipment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------------equipment header resizing--------------------*/
.equipment-header h1 {
  font-size: 45px;
  letter-spacing: 10px;
  color:  #003c6c;
  margin-top: 50px;
  transition: transform 0.2s ease-out;
}

@media (max-width: 996px) {
  .equipment-header h1 {
    font-size: 43px;
  }
}

@media (max-width: 768px) {
  .equipment-header h1 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .equipment-header h1 {
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  .equipment-header h1 {
    font-size: 30px;
  }
}

/*--------------------equipment header animation--------------------*/
.equipment-header h1:hover {
  transform: scale(1.05);
}

.equipment-header h1:not(:hover) {
  transform: scale(1);
}

/*--------------------input resizing--------------------*/
.input-wrapper {
  width: 50%;
  margin: 50px;
}

input {
  width: 100%;
  background-color: #ffffff;
  border: 3px solid #003c6c;
  border-radius: 5px;
  font-size: 14px;
  padding: 12px 12px;
}

@media (max-width: 768px) {
  .input-wrapper {
    width: 80%;
    margin: 25px;
  }

  input {
    font-size: 12px;
  }
}

input:focus {
  outline: none;
}

/*--------------------machines list resizing--------------------*/
.machines-list {
  width: 50%;
  margin-bottom: 30px;
}

@media (max-width: 996px) {
  .machines-list {
    width: 80%;
  }

  .machine {
    width: 100%;
  }
}

/*--------------------machine resizing--------------------*/
.machine {
  background-color: rgba(0, 60, 108, 0.8);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 12px 15px;
  animation: fadeIn 1s ease-in-out forwards;
}

.machine h2 {
  letter-spacing: 5px;
  font-size: 28px;
}

.machine h5 {
  padding-top: 10px;
  font-size: 18px;
}

@media (max-width: 996px) {
  .machine h2 {
    font-size: 25px;
    letter-spacing: 4px;
  }

  .machine h5 {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .machine h2 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .machine h2 {
    font-size: 18px;
  }

  .machine h5 {
    font-size: 10px;
  }
}

/*--------------------machine animation--------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*--------------------workout page--------------------*/
/*change background image*/
.workout-page {
  background-image: url("images/home-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
}
